WP_SEO_AUTOMATER_GEMINI_KEY=
WP_SEO_AUTOMATER_GEMINI_MODEL=gemini-pro-latest
WP_SEO_AUTOMATER_UNSPLASH_KEY=
WP_SEO_AUTOMATER_TEST_TITLE=Luxury Eyeglasses Arizona
WP_SEO_AUTOMATER_TEST_KEYWORDS=luxury eyeglasses arizona, designer eyewear scottsdale, lumiere optique
